
body {
    max-height: fit-content !important;
    background-image: url("../assets/vecteezy_abstract-seamless-pattern.jpg") !important;
    background-size: 0.5 rem !important;
  }

  header {
    background-color: white;
  }

/* BUTTONS */

button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }



  .d-none {
    display: none;
}

.correct {
    color: rgb(32, 127, 59);
}

.wrong {
    color: rgb(216, 25, 25);
}

.img-inicio {
    width: 10vw;
}

/* .btn-answers {
    cambiar propiedades de los botones answers
} */

#restart-btn {
    margin-left: 3rem;
}

#puzzle-icon {
    width: 4vw !important;
}