body {
    max-height: fit-content !important;
    background-image: url("../assets/vecteezy_abstract-seamless-pattern.jpg") !important;
    background-size: 0.5 rem !important;
}

header {
    background-color: white;
}

/* BUTTONS */

button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
}

button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.d-none {
    display: none;
}

.correct {
    color: rgb(32, 127, 59);
}

.wrong {
    color: rgb(216, 25, 25);
}

.img-inicio {
    width: 10vw;
}

#score-text {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

#score-number-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    border-radius: 5px;
    width: 210px;
    height: 50px;
    font-weight: bold;
    border: 2px dashed #000000;
    transition: 0.3s;
    background-color: #f0d853;
    padding: 2px 0;
}


#restart-btn {
    padding: 5px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
}

#restart-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    transition: all 250ms
}

#restart-btn:hover {
    color: #e8e8e8;
}

#restart-btn:hover::before {
    width: 100%;
}


#puzzle-icon {
    width: 4vw !important;
}